body{
    background-image: linear-gradient(to left, rgb(49, 255, 2), rgb(0, 136, 7));
    box-sizing: border-box;
}

nav{
    width: 100%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding-inline-start: 0%;
}

nav ul li{
    flex: 1 1 20%;
    padding: 10px 5px;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: wheat;
    background-image: url(../img/fondaco.jpg);
    margin: 0px;
    border: solid 2px;
}

nav ul li:hover{
    background-position: bottom;
}
