body{
    background-image: linear-gradient(to right, rgb(170, 170, 170), rgb(226, 226, 226));
    box-sizing: border-box;
    background-color: rgb(212, 212, 212);
}

nav{
    width: min-content;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    color: rgb(10, 10, 10);
    text-align: center;
    border: solid 1px rgb(10, 10, 10);
    border-radius: 50pt;
    background-color: white;
}

nav ul li{
    padding: 20px 10px 20px 10px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    border-left: solid 1px rgb(10, 10, 10);
}

nav ul li:hover{
    background-color: black;
    color: white;
}

.unus{
    border-left: 0px;
}

.unus:hover{
    border-bottom-left-radius: 43%;
    border-top-left-radius: 43%;
    background-color: black;
    color: white;
}

.duae:hover{
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
    background-color: black;
    color: white;
}
