body{
    background-image: linear-gradient(to left, grey, gray);
    margin: 0;
    width: 85%;
}

a{
    text-decoration: none;
    color:white;
    background-color: rgb(201, 0, 0);
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

div{
    text-indent: -20px;
    text-align: center;
}

a:hover{
    background-color: white;
    color: rgb(201, 0, 0);
}

#rotacion{
    background-color: rgb(201, 0, 0);
    text-align: center;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border-radius: 100%;
}

#rotacion:hover{
    animation: rotacion 60s infinite normal both;
}

#rotacion:target{
    animation: rotacion 60s infinite normal both;
}

@keyframes rotacion{
    100%{
        transform: rotate(360deg);
    }
}

i{
    color: white;
}
