@font-face{
	font-family: "Aurore";
    src: url('../fonts/LaBelleAurore-Regular.ttf');
}

h1{
    text-align: center;
    font-family: 'Aurore', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1250px;
    height: 250px;
    font-size: 35pt;
    color: rgb(255, 177, 32);
    border: 5px;
    border-color: rgb(255, 177, 32);
    border-style: dotted;
    background-color: red;
    background-position: center;
    background-size: 1;
    border-radius: 35px;
}
